<ul class="nav nav-tabs">
    <li role="presentation">
        <a href="#menu-toggle" id="menu-toggle"><span class="glyphicon glyphicon-chevron-left"></span></a>
    </li>
    <li role="presentation"><a href="/admin">Edit</a></li>
</ul>