<ul class="nav nav-tabs navbar-fixed-bottom">
  <li role="presentation">
    <a href="#menu-toggle" id="menu-toggle"><span class="glyphicon glyphicon-chevron-left"></span></a>
  </li>
  <li role="presentation" class="pull-right"><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></li>
</ul>