    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> The Shops
                </a>
                <div class="line">
            </li>
            <li>
                <a href="/jcrew">J.CREW</a>
                <div class="line">
            </li>
            <li>
                <a href="/af">Abercrombie & Fitch</a>
                <div class="line">
            </li>
            <li>
                <a href="/netaporter">NET-A-PORTER</a>
                <div class="line">
            </li>
            <li>
                <a href="/tuula">Tuula</a>
                <div class="line">
            </li>
            <li>
                <a href="/framboisefashion" style="font-size: 13px;">FRAMBOISE FASHION</a>
                <div class="line">
            </li>
            <li>
                <a href="/anouska">ANOUSKA</a>
                <div class="line">
            </li>
        </ul>
    </div>