<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="/">
        <span class="glyphicon glyphicon-ice-lolly" aria-hidden="true"></span> The Shops
      </a>
      <div class="line">
    </li>
    {{#each brands}}
    <li>
      <a href="/brand/{{name}}">{{longName}}</a>
      <div class="line">
    </li>
    {{/each}}
  </ul>
</div>