{{#extend "javascripts"}}
  <script type="text/javascript" src="/javascripts/main.js"></script>
  <script type="text/jsx" src="/javascripts/brandList.js"></script>
{{/extend}}

{{#extend "stylesheets"}}
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
{{/extend}}

<div class="container">
  <div id="wrapper">
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav nav-tabs">
          <li role="presentation">
            <a href="/"><span class="glyphicon glyphicon-ice-lolly"></span></a>
          </li>
        </ul>

        <div id="content"></div>
      </div>
    </div>
  </div>
</div>
