{{#extend "javascripts"}}
  <script type="text/jsx" src="/javascripts/nav.js"></script>
{{/extend}}

{{#extend "stylesheets"}}
  <link rel="stylesheet" type="text/css" href="/stylesheets/simple-sidebar.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
{{/extend}}

<div class="container-fluid full-size">
  <div id="wrapper">
    {{> sidebar }}
    {{> nav }}
    <div id="page-content-wrapper">
        <div class="row full-size">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 full-size">
            <iframe id="iframe_id" src={{ url }}></iframe>
          </div>
        </div>
    </div>
  </div>
</div>
