{{#extend "javascripts"}}
  <script type="text/jsx" src="/javascripts/nav.js"></script>
{{/extend}}

{{#extend "stylesheets"}}
  <link rel="stylesheet" type="text/css" href="/stylesheets/simple-sidebar.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
{{/extend}}

<div id="wrapper">
  {{> nav }}
  {{> sidebar }}
  <div id="page-content-wrapper">
    <div class="container-fluid full-width">
      <div class="row full-width">
        <div class="col-lg-12 full-width">
          <iframe id="iframe_id" src={{ url }}></iframe>
        </div>
      </div>
    </div>
  </div>
</div>