{{#extend "javascripts"}}
    <script type="text/javascript" src="/javascripts/main.js"></script>
{{/extend}}

{{#extend "stylesheets"}}
    <link rel="stylesheet" type="text/css" href="/stylesheets/simple-sidebar.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
{{/extend}}

<div id="wrapper">
    {{> sidebar }}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">...</a>
                    <iframe src={{ url }}></iframe>
                </div>
            </div>
        </div>
    </div>
</div>