{{#extend "javascripts"}}
  <script type="text/jsx" src="/javascripts/nav.js"></script>
{{/extend}}

{{#extend "stylesheets"}}
  <link rel="stylesheet" type="text/css" href="/stylesheets/simple-sidebar.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
{{/extend}}

<div class="container-fluid full-width">
  <div id="wrapper">
    {{> sidebar }}
    <div id="page-content-wrapper">
      <div class="container-fluid full-width">
        <div class="row full-width">
          <div class="col-lg-12 full-width">
            <div class="welcome">The Shops</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> nav }}
</div>
