<!doctype html>
<html lang="en">
  <head>
    {{> cdn }}
    {{{ block "javascripts" }}}
    {{{ block "stylesheets" }}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Shops - {{ title }}</title>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>