<!doctype html>
<html lang="en">
  <head>
    {{> cdn }}
    {{{ block "javascripts" }}}
    {{{ block "stylesheets" }}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="fashion, designer, brand, shop, shopping">
    <meta name="description" content="Shop your favorite brands more efficient">
    <title>The Shops | {{ title }}</title>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>