<!doctype html>
<html>
  <head>
    {{> cdn }}
    {{{ block "javascripts" }}}
    {{{ block "stylesheets" }}}
    <title>The Shops - {{ title }}</title>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>