<!doctype html>
<html>
    <head>
        {{> cdn }}
        <title>{{ title }}</title>
        {{{ block "javascripts" }}}
        {{{ block "stylesheets" }}}
    </head>
    <body>
        {{{ body }}}
    </body>
</html>